.App {
  display: flex; 
  justify-content: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  margin-bottom: 1em;
}

label {
  display: block;
  clear: both;
  margin: 10px 0;
}

select {
  margin-bottom: 1em;
}


.submitButton {
  margin-top: 2em;
  margin-bottom: 2em;
  float: right;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(21,155,213);
  color: white;
}


select {
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
